/* Add here all your css styles (customizations) */

.spec{width: 100% !important;}
.slogan{margin-bottom:3.14286rem !important;}
.no_hover:hover{color:#000 !important;}
.pf_des{height:230px !important;}



