/*공부할 속성*/
/*.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_right ul li*/
/*display:inline-table;*/
/*메뉴바에 margin-top값 주면 서브메뉴 클릭이 안됨(sub_sub_item 에 top:0;margin-top:5px;로 고치기)*/


/*반응형*/
@media(min-width:0){.header{padding-top: 0.71429rem !important;padding-bottom: 0.71429rem !important;}}
@media (max-width: 992px){.header_nav{display:none;}}
@media (max-width: 992px){.header_btn{display:none;}}
@media (min-width:576px){.container{max-width: 540px !important;}}
@media (min-width:768px){.container{max-width: 720px !important;}}
@media (min-width:992px){.container{max-width: 960px !important;}}
@media (min-width:1200px){.container{max-width: 1140px !important;}}
@media(min-width:1200px){.nav_item{margin-left: 1.07143rem !important;margin-right: 1.07143rem !important;}}
@media(min-width:992px){.nav_item{margin-left: 0.9rem !important;margin-right: 0.9rem !important;}}
@media(min-width:992px){.header_nav{}}
@media(min-width:0){.temp_content_inner{padding-bottom: 5.71429rem !important;padding-top:4.28571rem !important;}}
@media (min-width: 768px){.text_box{margin-bottom: 2.14286rem !important;width: 60% !important;}}

/*header*/
.header{text-align: center;background-color:#f9fdf9;}
.header .header_inner{display:flex;padding: .5rem 1rem;}
.header .header_inner .header_logo{text-align: left;font-size:35px;color:#555;flex-basis:100%;font-weight:bold;}
.header .header_inner .header_logo img{width: 86px;height: 32px;cursor:pointer;}
.header .header_inner .header_nav{flex-basis:100%;padding-top:20px;}
.header .header_inner .header_nav ul{display:flex;}
.header .header_inner .header_nav ul li.nav_item{position:relative;font-size: 12px;flex-basis:auto;}
.header .header_inner .header_nav ul li.nav_item:hover .HOME_sub{visibility:visible;}
.header .header_inner .header_nav ul li.nav_item a{font-weight: bold;color:#555;}
.header .header_inner .header_nav ul li.nav_item > a::after{background-image: url( "../img/icons/arrow_down.svg" );}
.header .header_inner .header_nav ul li.nav_item .HOME_sub{visibility:hidden;display: inline-table;position: absolute;border-top:2px solid #72c02c !important;max-width: 60%;left: 0;right: auto;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner{background-color:#fff;display:flex;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_item{width:174px;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner ul li{padding: .5rem 1rem;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap{text-transform:uppercase;flex: 0 0 50%;max-width: 50%;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap ul{flex-flow:column;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap ul li{cursor:pointer;position:relative;display: block;font-weight: 400;color: #212529;border: 0;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap ul li.sub_item:hover .sub_sub_item{visibility:visible;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap ul li a{font-weight: 400;font-size:13px;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap .sub_list .sub_item .sub_sub_item{cursor:pointer;border-top:2px solid #72c02c !important;top:-2px;position: absolute;z-index: 2;visibility: hidden;opacity: 0;background-color: #fff;opacity: 1 !important;left: 100%; }
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap .sub_list .sub_item .col_2{columns: 2 !important;display: block !important;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap .sub_list .sub_item .sub_sub_item .triple_item:hover .triple_sub{visibility:visible !important;}
.header .header_inner .header_nav ul li.nav_item .HOME_sub .HOME_sub_inner .sub_list_wrap .sub_list .sub_item .sub_sub_item .triple_item .triple_sub{visibility:hidden !important;}
.header .header_inner .header_btn{flex-basis:100%;padding-top:15px;}
.header .header_inner .header_btn a{font-size:13px;border:1px solid #72c02c;border-radius:25%;padding: 10px 20px;color:#72c02c;border-radius: 6px;}
.header .header_inner .header_btn a:hover{color:#fff;background-color:#72c02c;}

/*공통*/
.container{width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;text-align: center;}

/*Unify_Template*/
.temp_content{background-color:#f9fdf9;}
.temp_content .temp_content_inner{}
.temp_content .temp_content_inner .text_box{margin:0 auto;}
.temp_content .temp_content_inner .text_box .v{font-size: 3.21429rem !important;}
.temp_content .temp_content_inner .text_box .num{color:#72c02c !important;font-size: 5rem !important;}
.temp_content .temp_content_inner .text_box .theme{line-height: 1.4;color: #111 !important;font-weight: 600 !important;font-size: 3rem !important;}
.temp_content .temp_content_inner .text_box p{line-height: 2 !important;font-size: 1.2857rem !important;}
.temp_content .temp_content_inner .text_box p a{padding-bottom:5px;color:#72c02c !important;border-bottom:2px solid #72c02c;}
.temp_content .temp_content_inner .text_box p a:hover{color:#28a745 !important;border-bottom:2px solid #28a745;}
.temp_content .temp_content_inner .sns_box{text-align:center;display:flex;margin-left:-15px;margin-right:-15px;flex-wrap: wrap;justify-content: center;}
.temp_content .temp_content_inner .sns_box .facebook{text-align:center;flex: 0 0 25%;max-width: 25%;}


.temp_content .temp_content_inner .sns_box .twitter{text-align:center;flex: 0 0 25%;max-width: 25%;}


















