@import url("reset.css");
select{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
/*레이어 팝업*/
.dimmed{width:100%; height:100%; display:block; position:fixed; background-color:rgba(234,24,24,0.8); z-index:1000; top:0; left:0;}
.login_box{width:95%; background-color:#fff; min-height:300px; margin:15% auto; }

body{font-family:'arial',sans-serif !important; width:100%; height:100%; }
.main_wrap{display:block;}
/*nav*/
.main_wrap .menu_box{z-index:2000;background-color:#2f2f2f;top:0;right:0;height:100%; width:80%; position:absolute;position:fixed;display:block;}
.main_wrap .menu_box ul li ul li{display:block; color:#777; font-size:24px; line-height:35px; margin:5% 0% 0% 10%;}
.main_wrap .menu_box #menu_img{position: absolute;top: 2%;right: 1%;width: 35px;height: 33px;cursor:pointer;}
.main_wrap .menu_box ul li#menu_text{margin:0;}
.main_wrap .menu_box ul li ul li#one{margin:20% 0% 0% 10%;}
.main_wrap .menu_box ul li ul li#five{color:#2c87c8;}
.main_wrap .menu_box ul li ul li:hover{color:#2c87c8;cursor:pointer;}
/*header*/
.main_wrap .header{display:block;width:100%; padding:0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.main_wrap .header ul li{border:0px red solid;}
.main_wrap .header .main_left_logo{width:30%;float:left;}
.main_wrap .header .main_left_logo .left_wrap{padding:10px; min-width:90px; max-width:110px;}
.main_wrap .header .main_left_logo .left_wrap ul {font-size:0;}
.main_wrap .header .main_left_logo .left_wrap ul li{display:inline-block; width:49%;}
.main_wrap .header .main_left_logo .left_wrap ul li .left_img{width:100% !important;}
.main_wrap .header .main_title_logo{width:100%; position:absolute; top:30px;}
.main_wrap .header .main_title_logo .title_wrap{position:relative;}
.main_wrap .header .main_title_logo .title_wrap .title{margin:0 auto;width:123px; max-width:123px;}
.main_wrap .header .main_title_logo .title_wrap .title ul li.center_img{width:123px; max-width:123px;}
.main_wrap .header .main_title_logo .title_wrap .title ul li.txt_pa{text-align:center; margin-top:-13px;}
.main_wrap .header .main_title_logo .title_wrap .light_up_des{margin:1px auto;}
.main_wrap .header .main_title_logo .title_wrap .light_up_des ul.txt{text-align:center;}
.main_wrap .header .main_title_logo .title_wrap .light_up_des ul li{display:inline-block;font-size:12px; color:#999;}
.main_wrap .header .main_right_logo{position:relative;width:40px; float:right;margin-right: 3px;}
.main_wrap .header .main_right_logo .right_wrap{text-align:right; margin-top:4px;padding:2px;min-width:30px; max-width:35px;display:block;}
.main_wrap .header .main_right_logo .right_wrap .right_img{width:100% !important; cursor:pointer;}
/*select*/
.main_wrap .select{margin: 9px 0 0;text-align:right;}
.main_wrap .select .lan{margin-top:8px;cursor:pointer;border:1px solid #2c87c8;width:109px;height:28px;padding:0 0 0 13px;font-size:13px;line-height:15px;z-index:12;}
.arrow{background:url("../img/select02.png") 90px 0px no-repeat; background-size:14px; }

/*content_sta*/
.main_wrap .content{width:100%;display:block;border:0px solid red;margin-top:112px;}
.main_wrap .content .content_wrap{margin:0 auto;}
.main_wrap .content .content_wrap .content_sta{position:relative;}
.main_wrap .content .content_wrap .content_sta .bg_wrap{width:50%;display:block;position: absolute;right:0;bottom:0;z-index:1;}
.main_wrap .content .content_wrap .content_sta .bg_wrap .content_sta_bg{width:100% !important; max-width:500px;}
.main_wrap .content .content_wrap .content_sta .left_wrap{width:100%;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap{position: relative;padding:30px;width:95%;height:50%;background-color: #000;margin:0 5%;box-sizing: border-box;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .txt .txt_1{margin:0 0 20px 0;display:block;color:#2c87c8;font-size:35px;line-height:50px;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .txt .txt_1 ul li{padding:0; margin:0; line-height:1;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .txt .txt_1 ul li.text_pa{font-size:20pt; font-weight:bold;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .txt .txt_1_title{width:123px; margin-left:3px;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .hypen{display: block;height: 2px;width: 24px;background-color: #2c87c8;margin:0 0 10px 2px;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .title_img_desc{text-align:left;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .title_img_desc .txt_2_wrap{width:90%;max-width:500px;text-align:left;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .title_img_desc .txt_2_wrap .txt_2{width:100% !important;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .video_wrap{position:relative;z-index:2;width:94%;margin:0 auto;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .video_wrap .video{text-align:left;border:0px solid blue;z-index:6;margin-top:10px;}
.main_wrap .content .content_wrap .content_sta .left_wrap .txt_wrap .video_wrap .video iframe{}
/*content_main*/
.content_wrap .content_main{background-color:#f6f6f6;width:100%;margin:13% 0 0 0;padding:13% 0;}
.content_wrap .content_main .content{ margin:0 auto; position:relative;}
.content_wrap .content_main .content .h1{color: #2c87c8;font-size: 22px;margin:0 0 15px; padding:0 0 0 25px;}
.content_wrap .content_main .content .letter{background-color:#fff;padding:2% 3%;width:94%;display:block;}
.content_wrap .content_main .content .letter .letter_wrap{width:95%; margin:0 auto; padding:3% 0;}
.content_wrap .content_main .content .letter .desc{font-size:10pt; letter-spacing:-0.03em; line-height:1.4; padding:20px 0 0 0 ;}
.content_wrap .content_main .content .letter .title .strong{}
.content_wrap .content_main .content .letter_3{background-color:#fff;padding: 35px 85px 0; /*width:1170px;*/height: 170px;display:block;}
.content_wrap .content_main .content .letter ul li.title{font-size:24px;}
.content_wrap .content_main .content .letter ul li p{font-size:10pt; letter-spacing:-0.03em; line-height:1.4; padding:20px 0 -1px 0 ;}
.content_wrap .content_main .content .letter_3 ul li.title{font-size:24px;}
.content_wrap .content_main .content .letter_3 ul li p{font-size:10pt; letter-spacing:-0.03em; line-height:1.4; padding:20px 0 0 0 ;}
.content_wrap .content_main p.in{font-size: 14px;color: #4f4f4f;padding-left: 5%;margin-top: 22px;width:93%;}
.cycle-slideshow{position:relative;}
.cycle-slideshow img{position:relative; width:100%}
.cycle-slideshow .pager .prev{position:absolute; top:80px; left:0; z-index:999;width:45px;}
.cycle-slideshow .pager .next{position:absolute; top:80px; right:0;  z-index:999;width:45px;}

#pager{position:absolute; bottom:-5px; z-index:999; margin:0 auto; text-align:center; width:100%;}
#pager ul {width:20px;}
#pager span{color:#fff; opacity:0.6; text-align:center;margin-left: 2px;width:30px; height:30px; font-size:35px; cursor:pointer;}
#pager span.cycle-pager-active{color:#fff; opacity:1;}
#pager2{position:absolute; bottom:-5px; z-index:999; margin:0 auto; text-align:center; width:100%;}
#pager2 span{color:#fff; opacity:0.6; text-align:center; margin-left: 2px;width:30px; height:30px; font-size:35px; cursor:pointer;}
#pager2 span.cycle-pager-active{color:#fff; opacity:1;}
#pager3{position:absolute; bottom:-5px; z-index:999; margin:0 auto; text-align:center; width:100%;}
#pager3 span{color:#fff; opacity:0.6; text-align:center; margin-left: 2px;width:30px; height:30px; font-size:35px; cursor:pointer;}
#pager3 span.cycle-pager-active{color:#fff; opacity:1;}
/*content_end*/
.content_wrap .content_end{width:95% !important; margin:0 auto;}
.content_wrap .content_end img{width:100%;}
.content_wrap .content_end .content{position:relative;margin: -8% 0 6% 0;}
.content_wrap .content_end .content p{color: #2c87c8;font-size: 22px;margin:50px 0 30px;}
.content_wrap .content_end .content .map_img{width:100%;}
.content_wrap .content_end .content button{cursor:pointer;position: absolute;border:0px;bottom: 9%;right: 5%;width: 30%;height: 15%;background-color: #13121c;color: #fff;font-size: 12px;}
/*footer*/
.footer{width:100%;padding: 5% 0 5% 0;background-color: #2b2b2b;height: 60px;}
.footer ul li{display:block;margin-left:0px;}
.footer .inner{max-width: 1840px;margin:0 auto;position:relative;color:#707070;font-size: 15px;}
.footer .inner ul{}
.footer .copy{width:60%;margin:0 auto;}
.footer .copy img{width:100%;}
.footer .page{width:95%;text-align:center;}
.footer .page ul li {color:#707070;font-size: 15px; vertical-align:text-top;display:inline-block;}
.footer .page ul li.line{height:15px;border-left:1.5px solid #707070;}
.footer .page ul li.hyundai a{font-size:7pt; color:#707070; margin-right:10px;}
.footer .page ul li.hyundai a:hover{color:#707070;}
.footer .page ul li.ddp{clear:both; width:100%; display:block; margin-top:4px;}
.footer .page ul li.ddp a{font-size:7pt; color:#707070;}
.footer .page ul li.ddp a:hover{color:#707070;}
.footer .page ul li  .sns1{margin-left:10px;}
.footer .page ul li  .sns1 img{width:15px;}
.footer .page ul li  .sns2 img{width:15px;}
.footer .page ul li  .sns3 img{width:15px;}
.footer .page ul li  .sns4 img{width:15px;}
.footer .page ul li.ddp a{font-size:7pt;}



